<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Podcasts | Community Covenant Church </title> 
	  <%= stylesheet_link_tag 'sermons' %>
		<%= formtastic_stylesheet_link_tag %>
	</head>
	<body>
		<div id='header'>
			<h1>Community Covenant Church</h1>
			<h2>Kirkwood ,MO</h2>
		</div>

		<p style="color: green"><%= notice %></p>

		<%= yield %>
		
	</body>
</html>
